{% load static %}
<!-- New footer -->
<footer class=" text-center text-white" style="background-color: rgb(6 17 10);">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
       <!-- Section: Social media -->
       <section class="mb-4">
          <!-- Telegram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/" role="button"
             ><i class="fab fa-telegram"></i
             ></a>
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" target="_blank" role="button"
             ><i class="fab fa-twitter"></i
             ></a>
          
       </section>
       <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
       © 2023 Copyright:
       <a class="text-white">QuadChain Token</a>
    </div>
    <!-- Copyright -->
 </footer>